
/*NAV 1*/

.nav1 {
	background: linear-gradient(#2d3841, #010c16);
	height: 25px;
	font-size: 12px;
	line-height: 25px;
}

.nav1-left a {
	color: #fff;
	margin-right: 10px;
	line-height: 25px;
	padding: 4px 7px;
	text-decoration: none;
}

.nav1 select {
	background: linear-gradient(#2d3841, #010c16);
	height: 25px;
	font-size: 12px;
	color: #fff;
}

.dropdown-toggle {
	color: white;
}
.dropdown-toggle:hover{
	color: white;
	text-decoration: none;
}

.yellow {
	background-color: #FFC600;
}

.yellow a {
	color: #000;
	padding: 0;
}

/*NAV 2*/

.nav2 {
	border-bottom: 1px solid #D2D6DB;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav2 a {
	color: #A2A2A2;
	padding: 5px;
}

.nav2 a:hover {
	color: #000;
	text-decoration: none;
}

/*HEADER LOGO*/

.logo {
	width: 70%;
	height: auto;
}

.header-logo a {
	color: #A2A2A2;
}

.header-logo a:hover {
	color: #A2A2A2;
	text-decoration: none;
}

.nav li a {
	padding: 15px 6px;
}

.sel {
	border: 0;
	background-color: #fff;
}

/*NAV3*/

.nav3 {
	border-top: 3px solid #D2D6DB;
	margin-top: 20px;
	border-bottom: 1px solid #D2D6DB;
	border-radius: 0;
	margin-bottom: 0;
}

.nav3 li a {
	color: #000;
	font-weight: bold;
}

/*CONTENT*/

.main {
	background-color: #E9EDF0;
}

.content {
	background-color: #fff;
	margin-top: 20px;
	padding: 0;
	
}

.articles a {
	color: #003366;
}

h1 { 
	font-family: 'Droid Serif', serif;
}

.articles a:hover {
	color: #129af0;
	text-decoration: none;
}

.nav4 {
	background: linear-gradient(#2d3841, #010c16);
	border-radius: 0;
}

.nav4 a {
	color: #E9EDF0;
}

.nav4 a:hover {
	color: #932328;
}

.moment {
	font-size: 12px;
	color: #fff;
	background-color: #D50303;
	font-weight: bold;
}

.section2 {
	border-top: 6px solid #EEF1F5;
	padding-top: 20px;
}

.pic-article {
	margin-top: 20px;
}

.mini {
	margin-bottom: 10px;
}

.section3 {
	border-top: 6px solid #EEF1F5;
	padding-top: 10px;
}

.section3 a {
	color: #2E3942;
	font-weight: bold;
	text-decoration: none;
}

.section3 a:hover {
	color: #129AF0;
}

/*SIDE*/

.side {
	background-color: #FAFBFC;
	border: 1px solid #EEF1F5;
	margin-top: 10px;
}

.temoignages {
	font-size: 14px;
	color: #fff;
	background-color: #D50303;
	font-weight: bold;
	padding: 5px;
}

h4 {
	font-family: 'Droid Serif', serif;
}

.en-continu {
	font-size: 15px;
	color: #fff;
	background-color: #D50303;
	font-weight: bold;
	padding: 5px;
}

.en-continu2 {
	background-color: #EEF1F5;
	margin-bottom: 0;
}

.time {
	color: #464f57;
	font-size: 11px;
	margin: 0 10px;
}

.pub {
	margin: 10px;
}

.shared {
	background-color: #3B5998;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	margin: 0 auto;
}

.sharedfoot {
	background-color: #fff;
	padding: 7px;
	-webkit-box-shadow: 0px -3px 5px 0px rgba(239,240,241,1);
	-moz-box-shadow: 0px -3px 5px 0px rgba(239,240,241,1);
	box-shadow: 0px -3px 5px 0px rgba(239,240,241,1);
}

.follow {
	font-weight: bold;
	font-size: 13px;
}

.icons {
	margin: 0 5px;
}

.num {
	background-color: #e9ecf0;
	color: #a2a9ae;
	margin: 2px 5px 0 10px;
	padding: 2px 4px;
}

.side ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.side li {
	padding: 7px 15px;
	overflow: hidden;
}

.side li:not(:first-child) {
	border-top: 1px solid #eef1e5;
}

.subscription {
	background-color: #FFC600;
	font-size: 13px;
	font-weight: bold;
	padding: 3px;
}

.suscribe-txt {
	color: #BFC3C7;
	margin-left: 20px;
}

.btn-suscribe {
	background-color: #ffc600;
	border-color: #d9a800;
	padding: 3px;
	margin: 10px;
}

/*VIDEOS*/

.videos {
	background-color: #000b15;
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.rowvid {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 10px 0;
}

.videos h3 {
	text-align: center;
	color: #fff;
}

.videos a {
	color: #fff;
	font-size: 1.7rem;
}

.vidfoot {
	text-align: center;
	padding: 5px;
}

.footer {
	background-color: #000B15;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}

.foottxt {
	color: white;
	font-size: 12px;
}
